.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}

.footer__right * .MuiSlider-root {
    color: #1ed15e;
    max-width: 150px ;
}

.footer__left {
    flex: 0.3;
    color: #c2c4c3;
    display: flex;
    align-items: center;
    width: 300px;
    white-space: nowrap;
}

.footer__albumLogo {
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin-right: 20px;

}

.footer__green {
    color: #1ed15e;
    height: 5px;
    transform: scale(0.75);
}

.footer__songInfo > h4 {
    margin-bottom: 5px;
    color: white;
}

.footer__songInfo > p {
    font-size: 12px;
}

.footer__center{
    flex: 0.4;
    padding: 0 100px;
    color: #c2c4c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
}

.footer__icon:hover,
.footer__green:hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.2) !important ;
}

.footer__right{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c2c4c3;
    
}