.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    background-repeat: no-repeat;
}

.login > img{
    height: 300px;
}

.login > a{
    padding: 15px;
    background-color: #1db954;
    border-radius: 99px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}